.page-header {
    background-color: #0f0f0f;
    margin-top: 0;
    padding: 10px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #2e3cff;
    font-size: 40pt;
    text-decoration: none;
    margin-left: 90px;
}

.content {
    margin-left: 30px;
}

h1, h2, h4, h5 {
    font-family: 'Lobster', cursive;
}

h2 {
    margin-left: 5px;
    font-size: 25pt;
}

h3 {
    font-size: 14pt;
    margin-bottom: 20px;
}

h5 {
    font-size: 18pt;
    color: #bcbdcf;
    margin-left: 12px;
}


.date {
    color: #a0a0a0;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ff0000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 30px;
}

.post h2 a, .post h2 a:visited {
    color: #1d1d1d;
}